.Home {
    > div {
        display: grid;
        grid-template-rows: 1fr 0.8fr;
        grid-template-columns: 1fr;
        text-align: center;
        > div:first-child {
            > input {
                width: 80vw;
            }
            > button {
                width: 35px;
            }
            > input,
            button {
                font-size: 1em;
                margin: 10px 5px;
            }
        }
        > div:last-child {
            display: inline;
            > button {
                float: left;
                font-size: 0.7em;
                margin: 0 10px;
            }
            > button:focus {
                filter: invert(100%);
            }
        }
    }
    > .List {
        margin: 10px 20px;
    }
}
