@import '../animations.scss';

.Login {
    margin: 25vh 0;
    text-align: center;
    > h1 {
        animation-name: fadeSlideDown;
        animation-iteration-count: 1;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        position: relative;
        text-align: center;
        font-size: 3em;
        margin: 0;
    }
    > form {
        > label {
            text-align: left;
            display: block;
        }
        > input, 
        > label,
        > button,
        > p {
            margin: 0 auto;
            width: 80vw;
        }
        > input, 
        > button {
            margin-bottom: 10px;
        }
        > hr {
            width: 75vw;
            border: thin #000 1px;
            margin: 20px auto;
        }
        > p {
            color: #F00;
            margin: 20px auto;
        }
    }
    > span {
        animation-name: fadeSlideUp;
        animation-iteration-count: 1;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        position: relative;
        font-size: 0.75em;
    }
}
