.Login {
    margin: 25vh 0;
    text-align: center;
    > h1 {
        text-align: center;
        font-size: 3em;
        margin: 0;
    }
    > form {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        justify-content: center;
        > div {
            text-align: left;
            > label {
                display: block;
            }
            > input {
                height: 3vh;
                width: 80vw;
            }
        }
        > button {
            height: 5vh;
            width: 80vw;
        }
    }
    > span {
        font-size: 0.75em;
    }
}
