.Login {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    > div:nth-child(2) {
        height: 100%;
        width: 50%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        background-color: gray;
        > div:first-child {
            background-image: url("https://jadeallencook.github.io/Dinr/build/static/media/banner.5aa57b03.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        > div:last-child {
            padding: 5px 0 0 0;
            > form {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                row-gap: 5px;
                > input,
                button {
                    margin: 0 auto;
                    width: 50%;
                }
            }
        }
    }
}
