@import '../animations.scss';

.List {
    > li {
        animation-name: slideRightIn;
        animation-iteration-count: 1;
        animation-duration: 1.5s;
        position: relative;
        margin: 30px 0;
        font-size: 1.25em;
        > input {
            margin: 0 10px 0 0;
        }
        > button {
            float: right;
            margin: 5px;
        }
    }
}
