.CheckList {
    > li {
        > span {
            padding-left: 0;
        }
        > div {
            > span {
                font-size: 1.5em;
                text-transform: capitalize;
            }
            > p {
                > span {
                    > svg {
                        font-size: 1.5em;
                        padding: 0 2px;
                    }
                }
            }
            > svg {
                font-size: 2em;
                margin-left: auto;
            }
        }
    }
}
